#    EmergentMUD - A modern MUD with a procedurally generated world.
#    Copyright (C) 2016-2017 Peter Keeler
#
#    This file is part of EmergentMUD.
#
#    EmergentMUD is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as published by
#    the Free Software Foundation, either version 3 of the License, or
#    (at your option) any later version.
#
#    EmergentMUD is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.

# You can pick any number between 0 and 255 for these seed values. Changing the seeds will make
# the game use different maps for elevation and moisture, causing it to select different biomes
# for rooms.
world.seed.elevation=89
world.seed.moisture=23

# How to scale the noise maps. Pick a smaller number for more different chunks of biome, bigger
# for larger areas of the same biome. Small changes to this will have big effects on your map.
world.scale=0.007

# How many iterations of noise to use. More iterations take longer to compute but will give you
# more detailed looking edges.
world.octaves=8

# How big the square of "playable" rooms should be. Outside the boundaries will just be ocean.
world.extent=2048

# MongoDB configuration
spring.data.mongodb.uri=mongodb://mongo:27017/emergentmud

# Facebook configuration - Register your application at https://developers.facebook.com to get your API keys
facebook.client.clientId=
facebook.client.clientSecret=

# Google configuration - Register your application at https://developers.google.com to get your API keys
pre-established-redirect-uri=
registered-redirect-uri=
google.client.clientId=
google.client.clientSecret=
