#    EmergentMUD - A modern MUD with a procedurally generated world.
#    Copyright (C) 2016-2017 Peter Keeler
#
#    This file is part of EmergentMUD.
#
#    EmergentMUD is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as published by
#    the Free Software Foundation, either version 3 of the License, or
#    (at your option) any later version.
#
#    EmergentMUD is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.

# You can pick any random number for this seed value. Different numbers will
# make the game generate some things differently.
world.seed=2309480
world.springFrequency=0.01

# Redis configuration
redis.hostname=redis
redis.port=6379

# MongoDB configuration
spring.data.mongodb.uri=mongodb://mongo:27017/emergentmud

# Facebook configuration - Register your application at https://developers.facebook.com to get your API keys
facebook.client.clientId=
facebook.client.clientSecret=

# Google configuration - Register your application at https://developers.google.com to get your API keys
pre-established-redirect-uri=
registered-redirect-uri=
google.client.clientId=
google.client.clientSecret=
